
<div class="ui form segment">
  <div class="field">
    <h3 class="ui header">Add a Home</h3>
  </div>
  <div class="two fields">
    <div class="field">
      <div class="ui input">
        {{input type="text" placeholder="Home Name" value=model.house.name}}
      </div>
    </div>
    <div class="field">
      <button type="button" style="float: right;" class="ui inverted green button" {{action "save"}}>
        Save
      </button>
    </div>
  </div>
  <div class="field">
    Overall Rating: {{semantic-ui/heart-rating maxRating=5 rating=model.house.overall class="ui heart rating"}}
  </div>
  <div class="field">
    <h4 class="ui header">The Home</h4>
  </div>
  <div class="ui form segment" id="theHome">
    <div class="three fields">
      <div class="field">
        {{input type="number" placeholder="Square Footage" value=model.house.squareFeet}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.squareFeetRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="number" placeholder="Bedrooms" value=model.house.beds}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.bedsRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="number" placeholder="Bathrooms" value=model.house.baths}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.bathsRating class="ui heart rating"}}
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        {{input type="text" placeholder="Interior Walls Condition" value=model.house.interiorWalls}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.interiorWallsRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Exterior Walls Condition" value=model.house.exteriorWalls}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.exteriorWallsRating class="ui heart rating"}}
      </div>
    </div>

    <div class="three fields">
      <div class="field">
        {{input type="text" placeholder="Garage" value=model.house.garage}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.garageRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Closet/Storage Space" value=model.house.storageSpace}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.storageSpaceRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Fireplace" value=model.house.fireplace}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.fireplaceRating class="ui heart rating"}}
      </div>
    </div>

    <div class="three fields">
      <div class="field">
        {{input type="text" placeholder="Patio/Deck" value=model.house.patio}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.patioRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Lawn/Yard" value=model.house.lawn}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.lawnRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Fence" value=model.house.fence}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.fenceRating class="ui heart rating"}}
      </div>
    </div>

    <div class="three fields">
      <div class="field">
        {{input type="text" placeholder="Windows & Screens" value=model.house.windows}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.windowsRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Roof" value=model.house.roof}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.roofRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Gutters & Downspouts" value=model.house.gutters}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.guttersRating class="ui heart rating"}}
      </div>
    </div>

    <div class="three fields">
      <div class="field">
        {{input type="text" placeholder="Energy Efficiency" value=model.house.energy}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.energyRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Cable & Internet" value=model.house.providers}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.providersRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Basement" value=model.house.windows}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.basementRating class="ui heart rating"}}
      </div>
    </div>
  </div>

  <div class="field">
    <h4 class="ui header">The Neighborhood</h4>
  </div>
  <div class="ui form segment" id="theNeighborhood">
    <div class="two fields">
      <div class="field">
        {{input type="text" placeholder="Appearance & Condition of Neighborhood" value=model.house.neighborhood.condition}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.conditionRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Traffic" value=model.house.neighborhood.traffic}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.trafficRating class="ui heart rating"}}
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        {{input type="text" placeholder="Noise Level" value=model.house.neighborhood.noise}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.noiseRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Safety & Security" value=model.house.neighborhood.safety}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.safetyRating class="ui heart rating"}}
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        {{input type="text" placeholder="Age Mix of Neighbors" value=model.house.neighborhood.ageMix}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.ageMixRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Children in Area" value=model.house.neighborhood.children}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.childrenRating class="ui heart rating"}}
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        {{input type="text" placeholder="Pet Restrictions" value=model.house.neighborhood.petRestrictions}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.petRestrictionsRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Parking" value=model.house.neighborhood.parking}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.parkingRating class="ui heart rating"}}
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        {{input type="text" placeholder="Zoning" value=model.house.neighborhood.zoning}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.zoningRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Restrictions & Covenants" value=model.house.neighborhood.restrictions}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.restrictionsRating class="ui heart rating"}}
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        {{input type="text" placeholder="Fire Protection" value=model.house.neighborhood.fireProtection}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.fireProtectionRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Police" value=model.house.neighborhood.police}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.policeRating class="ui heart rating"}}
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        {{input type="text" placeholder="Snow Removal" value=model.house.neighborhood.snow}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.snowRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Garbage Service" value=model.house.neighborhood.garbage}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.neighborhood.garbageRating class="ui heart rating"}}
      </div>
    </div>
  </div>

  <div class="field">
    <h4 class="ui header">Schools</h4>
  </div>
  <div class="ui form segment" id="theSchools">
    <div class="two fields">
      <div class="field">
        {{input type="text" placeholder="Age & Condition" value=model.house.schools.age}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.schools.ageRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Reputation" value=model.house.schools.reputation}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.schools.reputationRating class="ui heart rating"}}
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        {{input type="text" placeholder="Teachers" value=model.house.schools.teachers}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.schools.teachersRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Test Scores" value=model.house.schools.testScores}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.schools.testScoresRating class="ui heart rating"}}
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        {{input type="text" placeholder="Play Areas" value=model.house.schools.playAreas}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.schools.playAreasRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Curriculum" value=model.house.schools.curriculum}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.schools.curriculumRating class="ui heart rating"}}
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        {{input type="text" placeholder="Class Size" value=model.house.schools.classSize}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.schools.classSizeRating class="ui heart rating"}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Busing Distance" value=model.house.schools.bus}}
        {{semantic-ui/heart-rating maxRating=3 rating=model.house.schools.busRating class="ui heart rating"}}
      </div>
    </div>
  </div>

  <div class="field">
    <h4 class="ui header">Convenience</h4>
  </div>
  <div class="ui form segment" id="convenience">
    <div class="field">
      Supermarket: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.supermarket class="ui heart rating"}}
    </div>
    <div class="field">
      Schools: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.school class="ui heart rating"}}
    </div>
    <div class="field">
      Work: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.work class="ui heart rating"}}
    </div>
    <div class="field">
      Shopping: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.shopping class="ui heart rating"}}
    </div>
    <div class="field">
      Child Care: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.childCare class="ui heart rating"}}
    </div>
    <div class="field">
      Hospitals: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.hospitals class="ui heart rating"}}
    </div>
    <div class="field">
      Doctor: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.doctor class="ui heart rating"}}
    </div>
    <div class="field">
      Dentist: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.dentist class="ui heart rating"}}
    </div>
    <div class="field">
      Parks and Recreation: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.parks class="ui heart rating"}}
    </div>
    <div class="field">
      Restaurants: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.restaurants class="ui heart rating"}}
    </div>
    <div class="field">
      Entertainment: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.entertainment class="ui heart rating"}}
    </div>
    <div class="field">
      Church/Synagogue: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.church class="ui heart rating"}}
    </div>
    <div class="field">
      Airport: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.airport class="ui heart rating"}}
    </div>
    <div class="field">
      Highways: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.highways class="ui heart rating"}}
    </div>
    <div class="field">
      Public Transit: {{semantic-ui/heart-rating maxRating=3 rating=model.house.convenience.publicTransit class="ui heart rating"}}
    </div>
  </div>
</div>
