
<div class="ui stackable centered grid">
  <div class="three wide column">
    <div class="ui vertical menu">
      <h3 class="ui header item">Houses</h3>
      <a class="active item manageHouse" {{action 'manageHouses'}}>
        Manage Houses
      </a>
      <a class="item addHouse" {{action 'addHouse'}}>
        Add House
      </a>
    </div>
  </div>
  <div class="nine wide column">
    {{#liquid-if mode.manageHouses}}
      <div class="ui purple form segment">
        <div class="ui list">
        {{#liquid-unless model}}
          No houses!
        {{/liquid-unless}}
        {{#each model as |house|}}
          <div class="item">
            {{house.house.name}} | <i class="edit icon" {{action "editHouse" house}}></i>
          </div>
        {{/each}}
        </div>
      </div>
    {{/liquid-if}}
    {{#liquid-unless mode.manageHouses}}
      {{add-house model=activeHouse}}
    {{/liquid-unless}}
  </div>
</div>
