
<div class="ui stackable centered grid">
  <div class="three wide column">
    <div class="ui vertical menu">
      <h3 class="ui header item">Houses</h3>
      <a class="active item manageHouse" {{action 'manageHouses'}}>
        Manage Houses
      </a>
      <a class="item addHouse" {{action 'addHouse'}}>
        Add House
      </a>
    </div>
  </div>
  <div class="nine wide column">
    {{#liquid-if mode.manageHouses}}
      {{manage-houses model=model}}
    {{/liquid-if}}
    {{#liquid-if mode.addHouse}}
      {{add-house model=null}}
    {{/liquid-if}}
    {{#liquid-if mode.editHouse}}
      {{add-house model=activeHouse}}
    {{/liquid-if}}
  </div>
</div>
